body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    gap:10px;
    margin-bottom: 10px;
}
.square{
    width: 80px;
    height: 80px;
    border: none;
    background-color: hsl(200, 2%, 48%);
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.result{
    text-align: center;
    font-size: 36px;
}
.button{
    width: 170px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: hsl(115, 29%, 53%);
    font-size: 32px;
    color: hsl(0, 0%, 100%);
}
.button:hover{
    border: 3px solid hsl(115, 29%, 53%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(115, 29%, 53%);
    cursor: pointer;
}
.gray{
    background-color: hsl(200, 2%, 48%);
}

.gold{
    background-color: hsl(49, 51%, 57%);
}

.green{
    background-color: hsl(115, 29%, 53%);
}